.message {
  position: relative; /* Для позиционирования псевдоэлементов */
  margin-bottom: 16px;
  padding: 10px;
  border-radius: 8px;
}

.sender {
  font-weight: bold;
  margin-bottom: 4px;
  font-size: 14px;
}

.messageText {
  margin-bottom: 4px;
}

.dateTime {
  font-size: 0.8em;
  color: #666;
}

.userMessage {
  background-color: #e6f2ff;
  text-align: left;
}

.botMessage {
  background-color: #eaf7ea;
  text-align: right;
}

/* Создаем хвостик для сообщений от сотрудника */
.userMessage::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 15px;
  border-style: solid;
  border-width: 10px 10px 0 0; /* Размеры треугольника */
  border-color: #e6f2ff transparent transparent transparent; /* Цвет треугольника */
}

/* Создаем хвостик для сообщений от бота */
.botMessage::before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 15px;
  border-style: solid;
  border-width: 10px 0 0 10px; /* Размеры треугольника */
  border-color: #eaf7ea transparent transparent transparent; /* Цвет треугольника */
}
